neuro_edit.app
*Makefile*
*.pro.user*
build/*
*.o
moc_*.cpp
ui_*.h
qrc_*.cpp
*.moc
*.obj
*.pdb
*.lib
*.ilk
*.exp
*.exe
*.idb
*.vcproj*
*.sln
*.pro.old
*.ncb
*.suo
*lib*.a
mt.dep
BuildLog.htm
*.manifest
qmake_options.old
NeuroEdit/debug/Qt*.dll
NeuronModels/Makefile
NeuronModels/izhikevich.o
NeuronModels/libneuron_models.1.0.0.dylib
NeuronModels/link.o
NeuronModels/network.o
NeuronModels/neuron.o
NeuronModels/simulationobject.o
NeuronModels/spatialobject.o
build/Makefile
build/NeuroEdit.app/Contents/Info.plist
build/NeuroEdit.app/Contents/MacOS/NeuroEdit
build/NeuroEdit.app/Contents/PkgInfo
build/NeuroEdit.app/Contents/Resources/empty.lproj
build/glscene.o
build/main.o
build/mainwindow.o
build/moc_glscene.cpp
build/moc_glscene.o
build/moc_mainwindow.cpp
build/moc_mainwindow.o
build/ui_mainwindow.h
NeuronModels/libneuron_models.a
NeuroEdit/NeuroEdit.pro.user.2.1pre1
NeuronModels/NeuronModels.pro.user.2.1pre1
*.xcodeproj*
*build*
Info.plist
